<%- include("partials/header.ejs") %>

<h1>Edit Blog Post</h1>
<div class="form-container">
    <div class="form-header">Create a Blog Post</div>
    <form method="POST" action="/edit/<%= post.id %>">
      <div class="mb-3">
        <label for="title" class="form-label">Post Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>" placeholder="Enter the title">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="8" placeholder="Write your post here..."><%= post.content %></textarea>
        
      </div>
      
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>


<%- include('partials/footer.ejs') %>